<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
      type="text/css"
    />
  </head>
  <body>
    <h1>Inception</h1>
    <div class="container">
      <ul>
        <li><a href="https://localhost">Wordpress</a></li>
        <li><a href="https://localhost/wp-admin">Dashboard</a></li>
        <li><a href="http://localhost:9000">Adminer</a></li>
        <li><a href="https://localhost:9443">Portainer</a></li>
      </ul>
    </div>
  </body>
</html>
