body {
  margin: 0;
  text-align: center;
  background-color: #282a36;
  color: white;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

div.container {
  display: inline-block;
  background-color: #21222c;
  border-radius: 0.4rem;
}

ul {
  list-style: none;
  padding: 0.5rem;
}

li {
  padding: 0.3rem;
}

a:link {
  color: white;
}

a:hover {
  color: #ff79c6;
}

a:visited {
  color: inherit;
}
